
body{

    background-color: black;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

.mainDiv{
    
    background-color: firebrick;
    margin: 10px;

}

.título{

    font-size:50px;
    text-align: center;
    padding-top: 45px;

}

.motivos{

    text-align: center;

}

.mensagem {

    padding: 10px;

}